[project]
	description = A reference implementation of GraphQL for JavaScript
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Sevki (sevki)
[access "refs/for/refs/*"]
	read = group user/Sevki (sevki)
	push = group user/Sevki (sevki)
	label-Code-Review = -2..+2 group user/Sevki (sevki)
	label-Verified = -1..+1 group user/Sevki (sevki)
	rebase = group user/Sevki (sevki)
	removeReviewer = group user/Sevki (sevki)
	submit = group user/Sevki (sevki)
[access "refs/heads/*"]
	read = group user/Sevki (sevki)
	create = group user/Sevki (sevki)
	push = +force group user/Sevki (sevki)
	pushMerge = group user/Sevki (sevki)
[access "refs/tags/*"]
	push = +force group user/Sevki (sevki)
	pushTag = group user/Sevki (sevki)
	pushSignedTag = group user/Sevki (sevki)
